@page "/Exercise/GetById/{Id:int}"
@using System.Text.Json
@using Newtonsoft.Json
@attribute [Authorize(Roles = "Admin, Nutritionist, Trainer,Moderator")]

<PageTitle>Exercise</PageTitle>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css">
</head>

@if (exercise == null)
{
    <p><em>Not Found</em></p>
}
else
{

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm" style="width: 1250px">
                    <div class="card-body description">
                        <img class="image-instruction" src="@exercise.GifUrl" alt="@exercise.Name" />
                        <div class="details">
                            <style>
                                * {
                                    text-align: left !important;
                                }
                            </style>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <img src="/icons/body-part.png" />
                            <span><b>Body part: </b>@exercise.BodyPart</span>
                            <br>
                            <br>
                            <img src="/icons/equipment.png" />
                            <span><b>Equipment: </b>@exercise.Equipment</span>
                            <br>
                            <br>
                            <img src="/icons/target.png" />
                            <span><b>Target: </b>@exercise.Target</span>
                            <br>
                            <br>
                            <span><b>Secondary muscles: @exercise.SecondaryMuscles</b></span>
                        </div>
                        <div>
                            <br>
                            <div><span><b>Instructions: @exercise.Instructions</b></span></div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code {
    public Exercise exercise = new Exercise();

    [Parameter]
    public int Id { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var httpClient = new HttpClient();

        var response = await httpClient.GetAsync($"http://exerciseapiapp:10010/api/Exercise/Details/{Id}");
        var content = await response.Content.ReadAsStringAsync();

        if (!response.IsSuccessStatusCode)
        {
            throw new ApplicationException(content);
        }
#pragma warning disable CS8601
        exercise = JsonConvert.DeserializeObject<Exercise>(content);

    }
}
