@page "/Supplements/GetById/{Id:int}"
@using System.Text.Json
@using Newtonsoft.Json
@attribute [Authorize(Roles = "Admin, Nutritionist, Trainer,Moderator")]

<PageTitle>Supplements</PageTitle>

<h1 style="text-align: center;">Get Sport Supplement</h1>


<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css">
</head>

@if (supplement == null)
{
    <p><em>Not Found</em></p>
}
else
{

    <body>
        <section class="text-gray-700 body-font">
            <div class="container mx-auto flex px-5 py-17 md:flex-row flex-col items-center">
                <div
                    class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">

                    <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">@supplement.Name
                    </h1>

                    <p class="mb-8 leading-relaxed" style="text-align: justify">@supplement.Description</p>

                    <p class="mb-8 leading-relaxed" style="text-align: justify">Country: @supplement.ManufactureCountry</p>
                    <p class="mb-8 leading-relaxed" style="text-align: justify">Quantity: @supplement.Quantity</p>

                </div>

                <div class="lg:max-w-lg  md:w-1/2 w-5/6">
                  <img src="@supplement.ImageUrl" alt="@supplement.Name" />
                </div>

            </div>

        </section>
    </body>
}

@code {
    public SportSupplement supplement = new SportSupplement();

    [Parameter]
    public int Id { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        var httpClient = new HttpClient();

        var response = await httpClient.GetAsync($"http://supplementapiapp:9090/api/SportSupplement/Details/{Id}");
        var content = await response.Content.ReadAsStringAsync();

        if (!response.IsSuccessStatusCode)
        {
            throw new ApplicationException(content);
        }
#pragma warning disable CS8601
        supplement = JsonConvert.DeserializeObject<SportSupplement>(content);

    }
}